<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dbLineSpacings</key>
	<array>
		<string>5</string>
		<string>10</string>
		<string>15</string>
		<string>20</string>
	</array>
	<key>Spectrum</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg+igPT8Bg4Uafj8Bhg==</data>
	<key>SpectrumBackground</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg9jM4z6DyFPpPoPwv+Q+AYY=</data>
	<key>BandEdge</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg3RufD8Ag/7LOz0Bhg==</data>
	<key>BandMarker</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg4jnfT+DfO4WP4MZQUU+AYY=</data>
	<key>BandMarkerOpacity</key>
	<real>0.2</real>
	<key>ButtonsBackground</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg7zayD6DzFfNPoPtOss+AYY=</data>
	<key>DbLegendBackground</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgzmF0T6DsEHVPoNSn9Y+AYY=</data>
	<key>DbLegend</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg9iPVD+DGvZ/P4PsiUk9AYY=</data>
	<key>DbLineSpacing</key>
	<string>10</string>
	<key>DbLineSpacings</key>
	<array>
		<string>5</string>
		<string>10</string>
		<string>15</string>
		<string>20</string>
	</array>
	<key>FilterLegend</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgzCqQz6DWdd/P4P8nwg9AYY=</data>
	<key>FIlterLegendBackground</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg6yB1D6DXcnZPoMmwdE+AYY=</data>
	<key>XFlexApiVersion</key>
	<string></string>
	<key>XFlexGuiVersion</key>
	<string></string>
	<key>FrequencyLegendBackground</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg2mvBj+DNfcHP4NQRAk/AYY=</data>
	<key>FrequencyLegend</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgzIZVD+D4K5/P4OoTTM9AYY=</data>
	<key>GridLines</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg+xKTD8Bg1IocT8Bhg==</data>
	<key>GridLinesDashed</key>
	<false/>
	<key>GridLIneWidth</key>
	<real>0.2</real>
	<key>SliceInactive</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgxLYWD8Bgza7JD0Bhg==</data>
	<key>SliceActive</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg8lsfD8Ag/hXXT0Bhg==</data>
	<key>OpenGLVersion</key>
	<string></string>
	<key>RadioFirmwareVersion</key>
	<string></string>
	<key>RadioModel</key>
	<string></string>
	<key>SegmentEdge</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgxAMWD8Bg+pQZj0Bhg==</data>
	<key>ShowMarkers</key>
	<false/>
	<key>SliceFilter</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgybMCj+DYD8WP4PuziM/AYY=</data>
	<key>SliceFilterOpacity</key>
	<real>0.2</real>
	<key>SpectrumFill</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg6R8Ez+DwmsYP4Mw0yM/AYY=</data>
	<key>SpectrumIsFilled</key>
	<false/>
	<key>Text</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg8QGTT8Bg27wSj8Bhg==</data>
	<key>TnfDisabled</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgwgyED+D6MAZP4NM0iM/AYY=</data>
	<key>TnfEnabled</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg85bMz6DWtt/P4NDsy09AYY=</data>
	<key>Toolbar</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgxAMvD6D+h3APoPzFNQ+AYY=</data>
	<key>DefaultRadioParameters</key>
	<array>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
		<string>&quot;&quot;</string>
	</array>
</dict>
</plist>
